@import url("https://fonts.googleapis.com/css?family=Didact+.didact-gothic-regular");

* {
  margin: 0;
}

body {
  font-family: "Didact Gothic", sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #474a42;
  padding: 2rem;
  margin: 0rem 0rem 1rem 0rem;
  box-shadow: 0.25rem 0.25rem 0.75rem rgb(0 0 0 / 0.15);
}

 head {
   padding-top: 0;
 }

footer {
  background-color: #474a42;
  padding: 2rem;
  margin-top: auto;
}

h1 {
  text-align: center;
  font-size: xx-large;
}

h3 {
  text-align: center;
}

p {
  font-size: large;
  padding: 1rem;
}

img {
  box-shadow: 0.25rem 0.25rem 0.75rem rgb(0 0 0 / 0.15);
  margin: 1rem;
}

ul {
  list-style: none;
}

li {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  background: #ebede8;
  border-radius: 1rem;
  box-shadow: 0.25rem 0.25rem 0.75rem rgb(0 0 0 / 0.1);
  margin-bottom: 2rem;
  vertical-align: top;
  flex-direction: row;
}

a {
  font-size: xx-large;
  text-decoration: none;
  color: black;
  padding: 1.5rem 1rem 0rem 0rem;
}

a:hover {
  color: #474a42;
}

.app {
  padding: 0rem 10rem 4rem 10rem;
}

.banner {
  padding: 2rem 0rem 2rem 0rem;

  .h1 {
    font-size: 2rem;
    padding: 2rem 0rem 0rem 0rem;
  }

  .author {
    font-size: 5rem;
  }
}

.desc {
  flex-direction: row;
  display: flex;
  align-items: flex-start;
  background: #ebede8;
  border-radius: 1rem;
  box-shadow: 0.25rem 0.25rem 0.75rem rgb(0 0 0 / 0.1);
}

.page {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.title {
  padding-top: 4rem;
}

.wrapper {
  max-width: 600px;
  margin: 0 auto;
}

/* for small screens */
@media only screen and (max-width: 768px) {
  .app {
    padding: 1rem;
  }

  a {
    font-size: x-large;
  }

  p {
    padding: 1rem 2rem 2rem 2rem;
    font-size: medium;
  }

  ul  {
    padding-inline-start: 0px;
  }   

  li {
    gap: 0rem;
  }


  .image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 12rem;
  }

  .desc {
    gap: 1rem;
    border-radius: 1rem;
    box-shadow: 0.25rem 0.25rem 0.75rem rgb(0 0 0 / 0.1);
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: .5rem;
    margin-top:  1rem;
    width: 90%;
  }

  .title  {
    font-size: xx-large;
    padding-top: 2rem;
  }
}

/* for large screens */
@media only screen and (min-width: 992px) {

  ul {
    padding: 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  .desc {
    gap: 1rem;
    border-radius: 1rem;
    box-shadow: 0.25rem 0.25rem 0.75rem rgb(0 0 0 / 0.1);
    background: #ebede8;
    margin: 2rem 20rem 20rem 20rem;
    vertical-align: top;
    padding: 2rem;
  }
}